NODE_ENV=production
NEXT_PUBLIC_APP_URL=https://workcv.co.uk

# Postgres
DATABASE_URL=postgresql://postgres:change-me@db:5432/workcv_uk

# Dodo Payments
DODO_API_KEY=
DODO_PRODUCT_ID=pdt_0NgvxNXDilMTh3bpfLPq2
DODO_WEBHOOK_SECRET=
DODO_ENVIRONMENT=live_mode
PAYMENT_PROVIDER=dodo
